
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/scripts/editing-notes/remove-note.js"></script>
    <script src="~/scripts/editing-notes/update-view.js"></script>
</head>
<body onload="init()">
<div align="center">
    <div>
        @using (Ajax.BeginForm("AddNote", new AjaxOptions { UpdateTargetId = "results", OnSuccess = "onSuccess" }))
        {
            <input type="text" name="Data" id="value_note" />
            <input type="submit" value="Add note"/>
        }
        <div id="results">
            @Html.Partial("PartialViewNotes")
        </div> 
    </div> 

    @Html.Hidden("urlUpdateList", @Url.Action("UpdateList", "Home"))
    @Html.Hidden("urlRemoveNote", @Url.Action("DeleteNote", "Home"))
    @Html.Hidden("urlInit", @Url.Action("UpdatePartialView", "Home"))
</div>
</body>
</html>
